*
    box-sizing: border-box

body
    position relative

main
    overflow-x: hidden

.container
    max-width inherit
    width 100%
    margin 0 auto
    padding 0 15px

    @media screen and (min-width tablet)
        padding 0 40px
    
    @media screen and (min-width laptop)
        padding 0 100px
    
    @media screen and (min-width desktop)
        max-width 1100px
        padding 0
        
.about,
.booking,
.container,
    .container
        flexCenterCenter()
        flex-direction: column

section:nth-of-type(even)
    background-color mainWhite

section:nth-of-type(odd)
    background-color: #2f3506

.calendar__title,
.booking__title
    color: #ffffff
    font-family: OpenSansLight, sans-serif
    font-size: 28px
    font-weight: 300
    line-height: 38px
    text-align center
    white-space: pre-line

    @media screen and (min-width tablet)
        font-size: 30px
        line-height 40px

    @media screen and (min-width laptop)
        font-size 35px
        line-height 45px
    
    @media screen and (min-width desktop)
        font-size 40px
        line-height 55px

.about__title,
.service__title
    color: #2d2d2d
    font-size: 20px
    font-weight: 400
    letter-spacing: 2px
    line-height: 55px
    text-transform: uppercase
    position relative
    text-transform uppercase
    font-family: OpenSans, sans-serif
    
    
    &:after
        pseudo()
        position: absolute
        left 50%
        transform: translateX(-50%)
        width calc(100% - 154px) //154px margin from design
        height 2px
        background-color: #c49b1d
    
    @media screen and (min-width laptop)
        font-size 30px
        line-height 55px
        letter-spacing: 3px
    
    @media screen and (min-width desktop)
        font-size 35px
        letter-spacing: 3.5px



.calendly-inline-widget
    min-width: inherit
    width 100%
    min-height: 740px
    
@media screen and (min-width desktop)
    .calendar
        .calendly-inline-widget
            min-height: 680px
    
    

    

    
    
