*
    box-sizing: border-box

body
    position relative

.container
    max-width inherit
    width 100%
    padding 0 15px 0 15px
    box-sizing: border-box
    margin 0 auto

.about,
.booking,
.container,
    .container
        flexCenterCenter()
        flex-direction: column

section:nth-of-type(even)
    background-color mainWhite

section:nth-of-type(odd)
    background-color: #2f3506

.calendar__title,
.booking__title
    color: #ffffff
    font-family: OpenSansLight
    font-size: 28px
    font-weight: 300
    line-height: 38px
    text-align center
    white-space: pre-line

.about__title,
.service__title
    color: #2d2d2d
    font-size: 20px
    font-weight: 400
    letter-spacing: 2px
    line-height: 55px
    text-transform: uppercase
    position relative
    OpenSansLight()
    
    &:after
        pseudo()
        position: absolute
        left 50%
        transform: translateX(-50%)
        width calc(100% - 154px) //154px margin from design
        height 2px
        background-color: #c49b1d