@font-face
  font-display swap
  font-family OpenSansBold
  src url('../fonts/OpenSans-Bold/OpenSans-Bold.eot')
  src url('../fonts/OpenSans-Bold/OpenSans-Bold.svg')
  src url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf')
  src url('../fonts/OpenSans-Bold/OpenSans-Bold.woff')
  font-style normal
  font-weight normal

@font-face
  font-display swap
  font-family OpenSansLight
  src url('../fonts/OpenSans-Light/OpenSans-Light.eot')
  src url('../fonts/OpenSans-Light/OpenSans-Light.svg')
  src url('../fonts/OpenSans-Light/OpenSans-Light.ttf')
  src url('../fonts/OpenSans-Light/OpenSans-Light.woff')
  font-style normal
  font-weight normal

@font-face
  font-display swap
  font-family OpenSans
  src url('../fonts/OpenSans/OpenSans.woff2')
  src url('../fonts/OpenSans/OpenSans.ttf')
  src url('../fonts/OpenSans/OpenSans.woff')
  font-style normal
  font-weight normal