html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
	margin 0
	padding 0
	border 0
	outline none
	vertical-align baseline
	background transparent
	border-spacing 0

input, button
	border none
	border-radius 0

a:active, input:active, button:active
	border none
	cursor pointer
	background-color transparent
	border none
	border-radius 0

a:hover, input:hover, button:hover
	border none
	cursor pointer
	background-color transparent
	border none
	border-radius 0

a
	text-decoration none

ul
	list-style-type none

:active, :hover, :focus
	outline 0
	outline-offset 0

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button
	padding 0

button, input[type="color"], 
input[type="reset"], 
input[type="button"], 
input[type="submit"]
	padding 0

