@import '../stylus/mixins'
@import '../stylus/vars'

.header
    flexCenterCenter()
    position: absolute
    left 0
    top 165px //85px = 65px (logo size) + 20px (margin-bottom)
    z-index 10
    width 100%
    margin-bottom 20px
    
    @media screen and (min-width 320px) and (max-height 490px)
        top 140px
    
    @media screen and (min-width tablet)
        top 50px
        left 50%
        transform: translateX(-50%)
        justify-content: flex-start
        padding 0 40px

    
    @media screen and (min-width laptop)
        padding 0 105px

    @media screen and (min-width desktop)
        max-width 1100px
        width 100%
        padding 0

    &__link
        flexCenterCenter()
        
        &-img
            min-width 65px
            min-height 54px
            max-width 65px
            max-height: 54px
        
        &-text
            color mainWhite
            font-size: 30px
            line-height 24px
            font-weight 100
            margin-left 15px
            font-family: OpenSansLight, sans-serif

            &--bold
                font-weight 600
                font-family: OpenSansBold, sans-serif

.intro
    position relative
    min-height: 100vh
    background: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../assets/intro.jpg') no-repeat
    background-size: cover

    @media screen and (min-width tablet)
        background: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../assets/intro-desktop.jpg') no-repeat
        background-position: 50%
        background-size: cover
        background-origin: content-box

    .container
        min-height: inherit
        padding-top: 120px

        @media screen and (min-width tablet)
            padding-top 0
    
    &__text
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.5)
        font-size: 28px
        font-weight 300
        line-height 40px
        color mainWhite
        text-align center
        margin-bottom 20px
        font-family: OpenSansLight, sans-serif

        @media screen and (min-width tablet)
            font-size 40px
            line-height 50px
            margin-bottom 30px
            margin-top 0
        
        @media screen and (min-width laptop)
            font-size 55px
            line-height 60px
    
    &__btn
        flexCenterCenter()
        width 70px
        height 70px
        margin 0 auto
        border-radius 50%
        background-color: rgba(255, 255, 255, 0.3)
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
        outline: none
        position relative
        uiTrns()
        -webkit-tap-highlight-color: transparent

        &:hover, :active
            cursor pointer
            border-radius: 50%
            background-color: rgba(255, 255, 255, 0.2)
            -webkit-tap-highlight-color: transparent
            
            &:after
                width 17px
                height 17px
            
            &:before
                background-color: rgba(255, 255, 255, 0.4)
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)

        &:before
            content: ''
            display block
            border-radius: 50%
            width 50px
            height 50px
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
            background-color: rgba(255, 255, 255, 0.3)
            uiTrns()
        
        &:after
            content: ''
            display block
            position: absolute
            top 50%
            left 50%
            transform: translate(-50%, -5px)
            width 15px
            height 15px
            background-image: url('../assets/arrow.svg')
            background-repeat: no-repeat
            background-size: cover
            transition: all 0.1s ease



// start serivce block
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
.service
    background-color: mainWhite

    .container
        padding-top 30px
        padding-bottom 250px

        @media screen and (min-width tablet)
            padding-bottom 85px
        
        @media screen and (min-width desktop)
            padding-top 70px
            padding-bottom 130px

    &__title
        margin-bottom 40px
        
        @media screen and (min-width desktop)
            margin-bottom 70px

.service__list
    display flex
    flex-direction: column

    @media screen and (min-width tablet)
        flex-direction: row

.service__list-item
    position relative
    display flex
    flex-direction: column
    margin-bottom 40px
    
    
    &:before
        pseudo()
        margin 0 auto 20px
    
    &:nth-of-type(1):before
        width 51px
        height 60px
        background-image url('../assets/service__1.svg')

    &:nth-of-type(2):before
        width 52px
        height 57px
        background-image url('../assets/service__2.svg')

        
    &:nth-of-type(3):before
        width 55px
        height 55px
        background-image url('../assets/service__3.svg')
    
    &:first-of-type
        @media screen and (min-width tablet)
            max-width calc(33% - 30px)
        
    &:last-of-type
        @media screen and (min-width tablet)
            margin-right 0
            max-width calc(33% - 30px)
        
    @media screen and (min-width tablet)
        max-width calc(33% - 60px)
        width 100%
        margin-right: 60px


.service__list-item--title
    text-align center
    color: #2d2d2d
    font-family: OpenSansLight, sans-serif
    font-size: 25px
    font-weight: 300
    line-height: 30px
    margin-bottom 20px

    @media screen and (min-width tablet)
        max-width initial
        width 100%
    
    @media screen and (min-width laptop)
        font-size 30px
        line-height 30px

.service__list-item--text
    text-align center
    color: #2d2d2d
    font-family: OpenSansLight, sans-serif
    font-size: 16px
    font-weight: 300
    letter-spacing: 0.32px
    line-height: 26px

    @media screen and (min-width tablet)
        max-width initial
        width 100%


// start booking block
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

.booking
    position relative

    .container
        padding-bottom: 50px

        @media screen and (min-width laptop)
            display flex
            flex-direction: column
            align-items center
            justify-content center
        
        

.booking__img
    position: absolute
    top 0
    left 50%
    transform: translate(-50%, calc(-100% + 50px))
    min-height: 260px
    width calc(100% - 30px)
    object-fit: cover

    @media screen and (min-width 500px)
        max-height: 300px

    @media screen and (min-width tablet)
        top -50px
        left 0
        min-height 100%
        width 100%
        min-width calc(50% - 30px) //30px = margin-right
        transform: translate(-50%, 0)
    
    @media screen and (min-width 1280px)
        top -70px
        width 50%
        min-width calc(50% - 30px) //30px = margin-right
        transform: translate(0%)

.booking__title
    margin 80px 0 15px

    @media screen and (min-width tablet)
        max-width 50%
        align-self: flex-end
        text-align left
        padding-left 30px
    
    @media screen and (min-width laptop)
        margin 65px 0 30px
    
    @media screen and (min-width desktop)
       padding-left: 125px
       margin 70px 0 20px
    
.booking__text
    text-align center
    color: #ffffff
    font-family: OpenSansLight, sans-serif
    font-size: 16px
    font-weight: 300
    letter-spacing: 0.16px
    line-height: 26px
    margin-bottom: 30px

    @media screen and (min-width tablet)
        max-width 50%
        align-self: flex-end
        text-align left
        padding-left 30px
    
    @media screen and (min-width desktop)
       padding-left: 125px
       font-size 20px
       line-height 30px

.booking__btn
    flexCenterCenter()
    min-width: 160px
    min-height: 40px
    border-radius: 100px
    background-color: #c49b1d
    color: #ffffff
    font-family: OpenSansBold, sans-serif
    font-size: 12px
    font-weight: 700
    letter-spacing: 1.2px
    line-height: 24px
    text-transform: uppercase

    @media screen and (min-width tablet)
        max-width calc(50% - 70px)
        position: relative
        top 0
        left 0
        transform: translateX(calc(50% + 30px))
    
    @media screen and (min-width laptop)
        margin-bottom 50px
    
    @media screen and (min-width desktop)
       transform: translateX(calc(50% + 125px))

.about
    .container
        padding-top: 20px
        padding-bottom 40px

        @media screen and (min-width tablet)
            padding-top 50px
            padding-bottom 25px
        
        @media screen and (min-width desktop)
            padding-top 75px
            padding-bottom 75px

.about__list
    flexCenterCenter()
    flex-wrap: wrap
    font-family: OpenSans, sans-serif


    &-item
        display flex
        justify-content center
        align-items center
        flex-direction: column
        max-width: calc(50% - 30px)
        margin-bottom: 40px
        position relative
        
        &:nth-child(odd)
            margin-right: 30px

            @media screen and (min-width tablet)
                margin-right 35px
                justify-content center
            
            @media screen and (min-width tablet)
                justify-content: flex-start
                
        &:nth-child(even)
            @media screen and (min-width tablet)
                justify-content flex-start

        &:before
            pseudo()
            max-width 60px
            min-width: 50px
            min-height: 50px
            max-height: 60px
            padding-bottom: 20px
            background-size: contain
            background-position: center center
            background-repeat: no-repeat

            @media screen and (min-width tablet)
                margin-right: 20px

        
        @media screen and (min-width tablet)
            flex-direction: row
            flex 50%

            &:last-child
                margin-bottom 70px

.about__list-item
    &:nth-of-type(1):before
        background-image: url('../assets/icon-highlight-2.svg')
    
    &:nth-of-type(2):before
        background-image: url('../assets/icon-highlight-1.svg')

    &:nth-of-type(3):before
        background-image: url('../assets/icon-highlight-6.svg')

    &:nth-of-type(4):before
        background-image: url('../assets/icon-highlight-5.svg')
    
    &:nth-of-type(5):before
        background-image: url('../assets/icon-highlight-3.svg')
    
    &:nth-of-type(6):before
        background-image: url('../assets/icon-highlight-4.svg')
    
.about__list-item--text
    text-align center
    color uiBlack
    font-size: 16px
    font-weight: 300
    letter-spacing: -0.16px
    line-height: 26px
    font-family 'OpenSans', sans-serif

    @media screen and (min-width tablet)
        text-align left
        letter-spacing: -0.56px
    
    @media screen and (min-width laptop)
        letter-spacing 0px
        font-size 22px
        line-height 55px
    
    @media screen and (min-width desktop)
        font-size: 25px

.about__title
    margin-bottom 20px

    @media screen and (min-width tablet)
        margin-bottom 35px
    
    @media screen and (min-width laptop)
        margin-bottom 50px
    
    @media screen and (min-width desktop)
        margin-bottom 70px
    

.about__video
    margin-bottom: 50px
    min-height: 164px
    width 100%

    @media screen and (min-width 420px)
        min-height: 320px

    @media screen and (min-width tablet)
        padding: 0 60px
        margin-bottom 70px
    
    @media screen and (min-width laptop)
        min-height: 511px
        margin-bottom 75px
        padding 0 100px
    
    @media screen and (min-width tablet)
        min-height: 545px
        padding 0 65px
    
    

.about__client
    padding: 0 15px
    display flex
    flex-wrap: wrap
    justify-content: space-between
    max-width inherit
        

    &-item
        flexCenterCenter()
        min-width 40%
        flex 50%
        margin-bottom: 50px

        @media screen and (min-width tablet)
            flex 33%
            min-width: 33%
            margin-bottom 25px
        
        @media screen and (min-width laptop)
            flex initial
            min-width: initial
            margin-bottom 0
        


        
    
    @media screen and (min-width tablet)
        margin 0 60px
        width 100%
        align-items: flex-end
    
    @media screen and (min-width laptop)
        padding 0

.calendar
    .container
        padding-top 30px
        padding-bottom: 80px

        @media screen and (min-width desktop)
            padding-top 70px
            padding-bottom 180px

    
    &__title
        margin-bottom 30px

.footer
    position: absolute
    bottom 0
    left 0
    width 100%
    padding 0 15px 25px

    &__text
        text-align center
        color mainWhite
        font-family OpenSansLight, sans-serif
        font-size: 14px
        font-weight: 300
        letter-spacing: -0.14px
        line-height: 25px
    
    @media screen and (min-width desktop)
        padding 0 0 60px